<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Extarct Raw Data</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/ExtractRawData.js"></script>
<link rel="stylesheet" href="./css/styles.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="./js/ExtractRawData.js"></script>
</head>
<body>
	<div id="header-container"></div>

	<div class="d-flex">
		<div id="sidebar-container"></div>

		<!-- Main Content -->
		<main class="content d-flex justify-content-center align-items-center">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">

						<!-- Dynamic Heading -->
						<h3 id="heading" class="text-center mb-4 text-dark fw-bold"></h3>

						<div class="card shadow-lg p-4 mt-5 border-0 rounded-4"
							style="background: linear-gradient(to right, #ffffff, #f8f9fa);">

							<form id="processform" action="DownloadExtractSwitchRawdata.do"
								method="POST">

								<!-- Type Dropdown -->


								<!-- Date Input -->
								<div class="mb-3 text-center">
									<label for="dateInput" class="form-label fw-semibold">Select
										Date:</label> <input type="text"
										class="form-control rounded-pill shadow-sm text-center"
										id="dateInput" name="fileDate" placeholder="YYYY/MM/DD"
										required>

								</div>
								<div class="mb-3 text-center">
									<label for="category" class="form-label fw-semibold">category</label>
									<select class="form-control rounded-pill shadow-sm"
										name="category" id="category">
										<option value="-">--SELECT--</option>
										<option value="ACQUIRER">Acquirer</option>
										<option value="ISSUER">Issuer</option>
									</select>
								</div>
								


								<div class="text-center">
									<button type="button"
										class="btn btn-success fw-bold rounded-pill shadow"
										onclick="Download();">DOWNLOAD</button>
								</div>

								<div id="processTbl"></div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<div align="center" id="Loader"
		style="background-color: #ffffff; position: absolute; opacity: 0.9; z-index: 0; height: 100%; width: 100%; left: 0px; top: 0px; display: none">

		<img style="margin-left: 100px; margin-top: 130px;"
			src="./images/loader.gif" alt="loader">
	</div>

</body>
</html>
